imageio
ipython
matplotlib
PyYAML
scikit-learn
scipy
tqdm
typing
terminaltables
tensorboardX
onnxruntime
setuptools
easydict
attr
thop
torchsummary
dominate
visdom
packaging
GPUtil
opencv-python-headless
dominate